@font-face {
  font-family: 'iconfont'; /* project id 704506 */
  src: url('https://at.alicdn.com/t/font_704506_1gug7yhfqul.eot');
  src: url('https://at.alicdn.com/t/font_704506_1gug7yhfqul.eot?#iefix')
      format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_704506_1gug7yhfqul.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_704506_1gug7yhfqul.woff') format('woff'),
    url('https://at.alicdn.com/t/font_704506_1gug7yhfqul.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_704506_1gug7yhfqul.svg#iconfont') format('svg');
}

.revealWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: url("https://h5.m.jd.com/dev/nmWxhC3NS8WqRxADJ3k9xNkAdFg/pages/756322/img/reveal.jpg") no-repeat;
  background-size: 100% 100%;
}

.logo {
  position: absolute;
  background: url("https://h5.m.jd.com/dev/nmWxhC3NS8WqRxADJ3k9xNkAdFg/pages/756322/img/logo.png") no-repeat;
  width: 117px;
  height: 62px;
  background-size: 100% 100%;
  top: 20px;
  left: 20px;
}

.revealTitle {
  position: absolute;
  background: url("https://h5.m.jd.com/dev/nmWxhC3NS8WqRxADJ3k9xNkAdFg/pages/756322/img/revealTitle.png") no-repeat;
  width: 618px;
  height: 161px;
  background-size: 100% 100%;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
}

.revealBtn {
  position: absolute;
  background: url("https://h5.m.jd.com/dev/nmWxhC3NS8WqRxADJ3k9xNkAdFg/pages/756322/img/revealBtn.png") no-repeat;
  width: 355px;
  height: 96px;
  background-size: 100% 100%;
  top: 935px;
  left: 50%;
  transform: translateX(-50%);
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Eye:before {
  content: "\e70c";
}