.scroll-style {
  height: 100vh;
  .indicator {
    height: 60px;
    justify-content: center;
    align-items: center;
  }
  .no-more {
    font-size: medium;
    color: #666666;
    margin: 5px 0px;

  }
}